:root {
  --tile-size: 100px;
  --light-tile: #ebecd0;
  --dark-tile: #779556;
}

@media all and (max-width: 450px) {
  :root {
    --tile-size: 50px;
  }
}

@media all and (min-width: 1440px) {
  :root {
    --tile-size: 125px;
  }
}
